{% extends 'base.html' %}

{% block content %}


<div class="row">
        <div class="col-sm-3 col-md-2">
          <ul class="list-group">
            <li class="list-group-item"><a href="/predict/shownow/">현황 보기</a></li>
            <li class = "list-group-item"><a href="/predict/company/p=1/">고객기업 분석</a></li>
            <li class = "list-group-item"><a href="#">전체 거래 조회</a></li>
            <li class = "list-group-item"><a href="#">기타</a></li>
          </ul>

        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div class="container">

                <div class="row">
                    <div class="col"><h1 class="page-header">고객기업 정보 > {{ company.name }}</h1></div>
                </div>

                <div class="row">
                    <div class="col card" >
                        <h4 class="card-header">월별 입고량 추이</h4>
                        <div class="card-body" id="dashboard_div">
                            <div id="filter_div"></div>
                            <div id="areachart_div"></div>
                            <div id="table_div" ></div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col card" >
                        <h4 class="card-header">파레트 유실 추이</h4>
                        <div class="card-body" id="chart_div2">
                        </div>
                    </div>
                </div>



            </div>


        </div>
</div>

    <script type="text/javascript" >
          google.charts.load('current', {'packages':['corechart','controls', 'table']});
          google.charts.setOnLoadCallback(drawDashboard);
          google.charts.setOnLoadCallback(drawbarChart);



        function drawbarChart(){
            var data = google.visualization.arrayToDataTable([
            ['month','손실량'],
            ['1', 10340],
            ['2', 103500],
            ['3', 153400],
            ['4', 99400],
            ['5', 103500],
            ['6', 303400],
            ['7', 109000],
            ['8', 10000],
          ])

          var bar_options = {title:'전체 파레트 유실량 추이',
                               //width:500,
                               height:400,
                                hAxis: {title: '유실량',  titleTextStyle: {color: '#333'}},
                               legend: 'none'};

            var bar_chart = new google.visualization.BarChart(document.getElementById('chart_div2'));
            bar_chart.draw(data, bar_options);
        }

      function drawDashboard() {

        // Create our data table.
        var data = google.visualization.arrayToDataTable([
            ["month", "입고량"],
            {% for d in for_graph %}
                [ new Date({{ d.0 }},{{ d.1 }},{{ d.2 }}) , {{ d.3 }}],
            {% endfor %}
        ]);

        // Create a dashboard.
        var dashboard = new google.visualization.Dashboard(
            document.getElementById('dashboard_div'));


        var table = new google.visualization.ChartWrapper({
              'chartType': 'Table',
              'containerId': 'table_div',
              'options': {
                  'width':500,
                  'allowHtml':true,
              }
            });
        // Create a range slider, passing some options
        var chartRangeFilter = new google.visualization.ControlWrapper({
          'controlType': 'ChartRangeFilter',
          'containerId': 'filter_div',
            'options':{
              'filterColumnLabel':'month',
                'width':1000,
                'height':200
            },
            'state':{'range':{
             'start': new Date({{ for_graph.0.0  }}, {{ for_graph.0.1  }} ,{{ for_graph.0.2  }}),
                'end': new Date({{ for_graph.0.0  }}+1, {{ for_graph.0.1  }}, {{ for_graph.0.2  }})
            }}
        });

        // Create a pie chart, passing some options
        var areaGraph = new google.visualization.ChartWrapper({
          'chartType': 'ColumnChart',
          'containerId': 'areachart_div',
          'options': {
              'animation':{
                  'startup':true,
                  'duration':10
              },
              'bar':{
                  'groupWidth':50
              },
            'width': 1100,
              'height':500,
            'title': '회사 연도별 입고',
            'pieSliceText': 'value',
            'legend': 'right'
          }
        });

        // Establish dependencies, declaring that 'filter' drives 'pieChart',
        // so that the pie chart will only display entries that are let through
        // given the chosen slider range.
        dashboard.bind([chartRangeFilter], [areaGraph, table]);

        // Draw the dashboard.
        dashboard.draw(data);
      }


      function drawareaChart() {

            var data = google.visualization.arrayToDataTable([
                ["month", "입고량"],
                {% for d in for_graph %}
                ["{{ d.0 | truncatechars:10 }}", {{ d.1 }}],
                {% endfor %}
            ]);

            var area_options = {
              title: '{{ company.name }} 월별 입고량 추이',
              hAxis: {title: '월별',  titleTextStyle: {color: '#333'}},
              vAxis: {minValue: 0},
              width: 1000,
              height: 400
            };


            var area_chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
            area_chart.draw(data, area_options);
          };


    </script>


{% endblock %}