{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-2"></div>

        <div class="col">
            <h1>데이터 업로드</h1>
            <div class="card bg-warning" style="margin:30px">
                <div class="card-body">{{ message }}</div>
            </div>


            <form action="/predict/upload/" method="post" id="form" enctype="multipart/form-data" novalidate>
                <div class="form-group">

                {% csrf_token %}
                <p>{{ form.non_filed_errors }}</p>
                <table>
                    {{ form.as_table }}
                </table>
                <p>{{ form.data.errors }}</p>
                <input type="submit" value="Upload">

                </div>
            </form>
        </div>

        <div class="col-2"></div>
    </div>



{% endblock %}

