{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- for responsive page -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- bootstrap css file loading -->
    <link rel="stylesheet" href="{% static 'predict_app/bootstrap/css/bootstrap.min.css' %}" />

    <!-- javascript file for bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!-- for navigation bar -->
    <style>
        body {  padding-top: 100px; padding-bottom: 100px; }
    </style>

    <!-- google chart engine load-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <title>Example Page</title>

</head>
<body>


    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">Nextop</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarsExampleDefault" style="">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/predict/form/">신규 데이터 제출 <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/predict/shownow/">현황 보기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/predict/showpredict/">예측 추천</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">My page</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">사이트 설정</a>
              <a class="dropdown-item" href="#">프로필</a>
              <a class="dropdown-item" href="#">지불 정보</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <main role="main" class="container">
        {% if is_finished == 1 %}
            <script type="text/javascript" >
                google.charts.load('current',{packages:['corechart','line', 'bar']});
                google.charts.setOnLoadCallback(drawTaskResult);

                function drawTaskResult() {
                    var data = google.visualization.arrayToDataTable([
                      ['Year', 'Sales', 'Expenses', 'Profit'],
                      ['2014', 1000, 400, 200],
                      ['2015', 1170, 460, 250],
                      ['2016', 660, 1120, 300],
                      ['2017', 1030, 540, 350]
                    ]);

                    var options = {
                      chart: {
                        title: 'Company Performance',
                        subtitle: 'Sales, Expenses, and Profit: 2014-2017',
                      },
                      bars: 'horizontal' // Required for Material Bar Charts.
                    };

                    var chart = new google.charts.Bar(document.getElementById('barchart_material'));

                    chart.draw(data, google.charts.Bar.convertOptions(options));
                  }
<!--
                function drawTaskResult(){
                    var data = new google.visualization.DataTable();
                    data.addColumn('date', 'time');
                    data.addColumn('number', 'data');
                    data.addColumn('number', 'predict');

                    data.addRows({{ chartdata }} );

                    var options = {
                        hAxis:{ title : 'Time'},
                        vAxis:{ title : 'data' },
                        colors : ['#a52714', '#097138']

                    }

                    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

                    chart.draw(data, options);
                } -->
            </script>
    <!--Table and divs that hold the pie charts-->
        <table class="columns">
          <tr>
            <td><div id="piechart_div" style="border: 1px solid #ccc"></div></td>
            <td><div id="barchart_div" style="border: 1px solid #ccc"></div></td>
          </tr>
        </table>

        {% else %}
            not Done yet , go back please
        {% endif %}
    </main>



</body>
</html>